@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/816/520/non_2x/modern-background-with-fluid-and-flower-shape-pink-purple-pastel-color-and-hand-draw-line-on-white-background-flat-minimal-design-with-copy-space-for-text-free-vector.jpg');
    background-color: rgba(255, 255, 255, 0.733);
    background-size: cover;
    background-blend-mode: lighten;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

strong {
    font-family: 'Baloo 2', cursive;
    color: #444444;
}

.container {
    width: 100%;
    margin: 0 auto;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: white;
    background: linear-gradient(135deg, #b06fec 0%, #d66eab 100%);
    padding: 15px 0;
    margin: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contenido-principal {
    padding: 0px 40px;
    margin-top: 0;
}

.flex-grow-1 {
    min-width: 300px;
}

.form-select {
    color: #575858;
    box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

.filtro-container.mb-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 40px;
    font-family: 'Fredoka One', cursive;
}

.btn-lila {
    background-color: #b783eb;
    color: white;
    border: none;
}

.btn-lila:hover {
    background-color: #a855f7;
    color: white;
}

.modal-lila {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 0px;
}


h3 {
    font-family: 'Fredoka One', cursive;
    color: #921c5d;
}

.cita-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #b783eb1e;
    width: 30%;
    max-width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

strong {
    font-family: 'Cookie', cursive;
}

#listaCitasPorFecha {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-bottom: 20px;
}

.cita-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-family: 'Fredoka One', cursive;
    color: #921c5d;
}

.gif-animal {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.cita-info {
    margin-bottom: 5px;
}

.cita-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}


.btn-outline-lila {
    color: #4b9e4f;
    border-color: #4b9e4f;
    background-color: transparent;
}

.btn-outline-lila:hover {
    background-color: #4b9e4f;
    color: white;
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
    background-color: transparent;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

.hr {
    border: none;
    height: 4px;
    background-color: #580648;
    width: 100%;
    margin: 20px auto;
}

.form-select-sm {
    box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

.form-control {
    box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

.orden-nueva-cita {
    order: 2;
}

.orden-filtro {
    order: 1;
}

@media (max-width: 991px) {
    .cita-card {
        width: 45%;
        max-width: 45%;
    }
}


@media (max-width: 767px) {
    .cita-card {
        width: 100%;
        max-width: 100%;
    }

    .filtro-container.mb-3 {
        flex-direction: column;
        gap: 10px;
    }

    .orden-nueva-cita {
        order: 1;
    }

    .orden-filtro {
        order: 2;
    }
}

@media (max-width: 575px) {
    .cita-card {
        width: 100%;
        max-width: 100%;
    }

    .filtro-container.mb-3 {
        flex-direction: column;
        gap: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .contenido-principal {
        padding: 0px 10px;
    }
}

@media (max-width: 362px) {

    h1 {
        font-size: 20px;
    }
}